html, body {
    height: 100%;
    background: #f0f0f0;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
    overflow: auto;
}

.push {
    height: 120px;
    margin-top: 0;
}

footer {
    background: #ccc;
    border: 0;
    padding-top: 15px;
}

footer * {
    line-height: inherit;
}

footer img {
	width: 30px;
	margin-right: 10px;
}

footer a:hover {
	text-decoration: none;
}

.top-menu {
    background: #1a1a1a;
}

#top_bar {
	width: 100%;
	display:block;
}

#top_bar .ink-navigation ul li {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
}

#logoPlaceholder {
	margin-right: 150px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.0em;
}

#logoImage {
	height: 1.4em;
}